[submodule "platform/libpicofe"]
	path = platform/libpicofe
	url = https://github.com/FunKey-Project/libpicofe.git
[submodule "cpu/cyclone"]
	path = cpu/cyclone
	url = https://github.com/FunKey-Project/cyclone68000.git
